<ion-content [fullscreen]="true">
  <app-header backButton="/auth"></app-header>

  <app-logo></app-logo>
  <h2 class="ion-text-center ion-no-margin">Sign Up</h2>

  <div class="content">
    <div class="d-flex-center">
      <form [formGroup]="form" (ngSubmit)="submit()" class="ion-text-center">
        <app-custom-input
          autocomplete="name"
          [control]="form.controls.name"
          type="text"
          label="Name"
          icon="person-outline"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.name.errors && form.controls.name.touched && form.controls.name.dirty"
        >
          <div *ngIf="form.controls.name.errors?.['required']">
            Name is required!
          </div>
          <div *ngIf="form.controls.name.errors?.['minlength']">
            Name invalid!
          </div>
        </div>

        <app-custom-input
          autocomplete="email"
          [control]="form.controls.email"
          type="email"
          label="Email"
          icon="mail-outline"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.email.errors && form.controls.email.touched && form.controls.email.dirty"
        >
          <div *ngIf="form.controls.email.errors?.['required']">
            Email is required!
          </div>
          <div *ngIf="form.controls.email.errors?.['email']">
            Email invalid!
          </div>
        </div>

        <app-custom-input
          autocomplete="dateOfBirth"
          [control]="form.controls.dateOfBirth"
          type="date"
          label="Date Of Birth"
          icon="calendar-outline"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.dateOfBirth.errors && form.controls.dateOfBirth.touched && form.controls.dateOfBirth.dirty"
        >
          <div *ngIf="form.controls.dateOfBirth.errors?.['required']">
            Date of birth is required!
          </div>
        </div>

        <ion-item>
          <ion-icon *ngIf="!darkMode" color="primary" name="globe-outline" slot="start"></ion-icon>
          <ion-icon *ngIf="darkMode" name="globe-outline" slot="start"></ion-icon>
          <ion-select
            formControlName="country"
            label="Country/Region"
            label-position="stacked"
            label-placement="stacked"
            value="brazil"
            mode="ios"
          >
            <ion-select-option value="brazil">Brazil</ion-select-option>
            <ion-select-option value="canada">Canada</ion-select-option>
            <ion-select-option value="franca">França</ion-select-option>
          </ion-select>
        </ion-item>
        <div
          class="validators"
          *ngIf="form.controls.country.errors && form.controls.country.touched && form.controls.country.dirty"
        >
          <div *ngIf="form.controls.country.errors?.['required']">
            Country/Region is required!
          </div>

        </div>

        <app-custom-input
          [control]="form.controls.password"
          type="password"
          label="Password"
          icon="lock-closed-outline"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.password.errors && form.controls.password.touched && form.controls.password.dirty"
        >
          <div *ngIf="form.controls.password.errors?.['required']">
            Password is required!
          </div>
        </div>

        <app-custom-input
          [control]="form.controls.confirmPassword"
          type="password"
          label="Confirm Password"
          icon="checkmark-circle-outline"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.controls.confirmPassword.errors && form.controls.confirmPassword.touched && form.controls.confirmPassword.dirty"
        >
          <div *ngIf="form.controls.confirmPassword.errors?.['required']">
            Confirm Password is required!
          </div>
          <div *ngIf="form.controls.confirmPassword.errors?.['noMatch']">
            Passwords must match!
          </div>
        </div>

        <div>
          <ion-button type="submit" class="ion-margin-vertical" [disabled]="form.invalid" shape="round">
            Register
            <ion-icon slot="end" name="person-add-outline"></ion-icon>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
